<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Ritmo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input formControlName="username" type="text" required></ion-input>
    @if(loginForm.get('username')?.invalid && loginForm.get('username')?.touched){
      <div class="error-message">
        El nombre de usuario es requerido.
      </div>
    }
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
    @if(loginForm.get('password')?.invalid && loginForm.get('password')?.touched){
      <div class="error-message">
        La contraseña es requerida.
      </div>
    }
    <ion-button expand="block" type="submit" [disabled]="loginForm.invalid" class="ion-margin-top">
      Entrar
    </ion-button>
  </form>

  <ion-button expand="block" fill="clear" (click)="forgotPassword()" class="ion-margin-top">
    ¿Has olvidado tu contraseña?
  </ion-button>
</ion-content>
