.error-message {
  display: block;
  padding-left: 16px;
  margin-bottom: 20px;
  font-size: 0.85rem;
}

ion-button[type="submit"] {
  margin-top: 20px;
}

ion-title {
  font-weight: bold;
}

ion-content {
  --padding-bottom: env(safe-area-inset-bottom);
}
