<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre del Cuestionario</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item (click)="openSelectAlumnosModal()" button>
      <ion-label>Alumnos</ion-label>
      <ion-note slot="end">{{ form.get('alumnos')?.value?.length > 0 ? form.get('alumnos')?.value?.length + ' seleccionados' : 'Seleccionar alumnos' }}</ion-note>
    </ion-item>

    @if(form.get('alumnos')?.value?.length > 0) {
      <ion-item lines="none">
        <ion-label>Seleccionados: {{ selectedUsernamesString }}</ion-label>
      </ion-item>
    }

    <ion-item>
      <ion-label position="floating">Fecha de Cierre</ion-label>
      <ion-input type="date" formControlName="fechaCierre" [min]="minDate"></ion-input>
    </ion-item>
      @if(isEditMode) {
        <ion-list-header>
          <ion-label>Entregas de Alumnos</ion-label>
        </ion-list-header>

        <ion-list>
          @for(entrega of entregasCuestionario; track entrega._id) {
            <ion-item>
              <ion-label>
                <h2>{{ entrega.alumno?.username }}</h2>
                <p>Entregado: {{ entrega.fechaEntrega | date:'short' }}</p>
              </ion-label>

              @if(entrega.nota !== null && entrega.nota !== undefined) {
                <ion-badge slot="end" [color]="entrega.nota >= 5 ? 'success' : 'danger'">
                  {{ entrega.nota }}
                </ion-badge>
              }
            </ion-item>
          }

          @if(entregasCuestionario.length === 0) {
            <ion-item>
              <ion-label>No hay entregas para este cuestionario todavía.</ion-label>
            </ion-item>
          }
        </ion-list>
      }
    <ion-list-header>
      <ion-label>Preguntas</ion-label>
      <ion-button color= "medium"(click)="addPregunta()" size="small" fill="outline">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        Añadir Pregunta
      </ion-button>
    </ion-list-header>

    <div formArrayName="preguntas">
      @for(preguntaGroup of preguntas.controls; track i; let i = $index){
        <ion-card [formGroupName]="i">
          <ion-card-header class="card-header-row">
            <ion-card-title>Pregunta {{ i + 1 }}</ion-card-title>
            <ion-button (click)="removePregunta(i)" color="danger" fill="clear">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Texto de la Pregunta</ion-label>
              <ion-textarea formControlName="texto" rows="2" [autoGrow]="true"></ion-textarea>
            </ion-item>
            <ion-item>
              @if(!isBase64Audio(preguntaGroup.get('recursoAudicion')?.value)){
                <ion-input
                  formControlName="recursoAudicion"
                  placeholder="URL de audio (YouTube, Spotify) o subir MP3"
                  (ionChange)="onRecursoAudicionUrlInput($event, i)"
                ></ion-input>
              }
              <input
                type="file"
                #fileInput
                style="display: none;"
                accept="audio/mpeg"
                (change)="onFileSelected($event, i)"
              />
              <ion-button color= "medium"(click)="fileInput.click()" fill="clear" slot="end">
                <ion-icon name="musical-notes-outline"></ion-icon>
              </ion-button>
              @if (preguntaGroup.get('recursoAudicion')?.value || preguntaGroup.get('archivoParaSubir')?.value) {
                <ion-button (click)="clearRecursoAudicion(i)" color="danger" fill="clear" slot="end">
                  <ion-icon name="close-circle-outline"></ion-icon>
                </ion-button>
              }
            </ion-item>
            @if (preguntaGroup.get('archivoParaSubir')?.value) {
              <ion-item lines="none">
                <ion-label>Archivo pendiente:
                  <ion-text color="secondary">{{ preguntaGroup.get('archivoParaSubir')?.value.name }}</ion-text>
                </ion-label>
              </ion-item>
            } @else if (preguntaGroup.get('recursoAudicion')?.value) {
              <div class="ion-padding-vertical">
                @if (isBase64Audio(preguntaGroup.get('recursoAudicion')?.value)) {
                  <audio controls [src]="getSafeBase64Url(preguntaGroup.get('recursoAudicion')?.value)"></audio>
                }
                @else if (isYouTubeUrl(preguntaGroup.get('recursoAudicion')?.value)) {
                  <div class="embed-wrap">
                    <iframe
                      class="embed-frame embed-frame--youtube"
                      [src]="getYouTubeEmbedUrl(
                        isYouTubeUrl(preguntaGroup.get('recursoAudicion')?.value)!
                      )"
                      frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                    ></iframe>
                  </div>
                }
                @else if (isSpotifyUrl(preguntaGroup.get('recursoAudicion')?.value)) {
                  <div class="embed-wrap">
                    <iframe
                      class="embed-frame embed-frame--spotify"
                      [src]="getSpotifyEmbedUrl(
                        isSpotifyUrl(preguntaGroup.get('recursoAudicion')?.value)!.type,
                        isSpotifyUrl(preguntaGroup.get('recursoAudicion')?.value)!.id
                      )"
                      frameborder="0"
                      allow="encrypted-media"
                      allowfullscreen
                    ></iframe>
                  </div>
                }
                @else {
                  <ion-item lines="none">
                    <ion-label>Recurso adjunto:
                      <ion-text color="primary">{{ preguntaGroup.get('recursoAudicion')?.value }}</ion-text>
                    </ion-label>
                  </ion-item>
                }
              </div>
            }
            <ion-list-header>
              <ion-label>Posibles Respuestas</ion-label>
              @if(getPosiblesRespuestas(i).length < 4){
                <ion-button color ="medium" (click)="addRespuesta(i)" size="small" fill="outline">
                  <ion-icon slot="start" name="add-circle-outline"></ion-icon>
                  Añadir
                </ion-button>
              }
            </ion-list-header>

            <ion-radio-group formControlName="respuestaCorrecta">
              <div formArrayName="posiblesRespuestas">
                @for(respuestaGroup of getPosiblesRespuestas(i).controls; track j; let j = $index){
                  <ion-item [formGroupName]="j">
                    <ion-radio color="medium" [value]="j.toString()" slot="start"></ion-radio>
                    <ion-input formControlName="texto" placeholder="Texto de la respuesta"></ion-input>
                    @if(getPosiblesRespuestas(i).length > 2){
                      <ion-button (click)="removeRespuesta(i, j)" color="danger" fill="clear" slot="end">
                        <ion-icon name="trash-outline"></ion-icon>
                      </ion-button>
                    }
                  </ion-item>
                }
              </div>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>
      }
    </div>

    <ion-button color="medium" expand="block" type="submit" [disabled]="form.invalid" class="ion-margin-top">
      <ion-icon slot="start" name="{{isEditMode ? 'checkmark-circle-outline': 'add-circle-outline'}}"></ion-icon>
      {{ isEditMode ? 'Guardar Cambios' : 'Crear Cuestionario' }}
    </ion-button>
  </form>
</ion-content>
