<ion-header>
  <ion-toolbar>
    <ion-title>Enviar Mensaje</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Asunto</ion-label>
      <ion-input formControlName="asunto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mensaje</ion-label>
      <ion-textarea formControlName="texto"></ion-textarea>
    </ion-item>
    <ion-item (click)="openSelectAlumnosModal()" [detail]="true" button>
      <ion-label>Alumnos</ion-label>
      <div slot="end" class="ion-text-end">
        <span class="placeholder">Seleccionar</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Alumnos Seleccionados:</ion-label>
    </ion-item>
    @if(selectedAlumnos.length === 0){
      <ion-item>
        <ion-label class="ion-text-center">No hay alumnos seleccionados.</ion-label>
      </ion-item>
    }
    @else{
      <ion-list class="selected-alumnos-list">
        @for(alumno of selectedAlumnos; track alumno._id) {
          <ion-item>
            <ion-label>{{ alumno.username }}</ion-label>
          </ion-item>
        }
      </ion-list>
    }
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Enviar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
