<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">SolfEdge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if(isLoading){
    <div class="loading-container">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  } @else {
    <ion-card>
      <ion-card-header>
        <ion-card-title>Información del Usuario</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <div class="item-content">
            <ion-label>Usuario:</ion-label>
            <ion-text>{{ currentUser?.username }}</ion-text>
          </div>
        </ion-item>
        <ion-item>
          <div class="item-content">
            <ion-label>Email:</ion-label>
            <ion-text>{{ currentUser?.email }}</ion-text>
          </div>
        </ion-item>
        <ion-item>
          <div class="item-content">
            <ion-label>Rol:</ion-label>
            <ion-text>{{ currentUser?.role }}</ion-text>
          </div>
        </ion-item>
      </ion-card-content>
    </ion-card>
  }
  @if(currentUser?.role === 'alumno'){
  <ion-card class="ion-margin-top">
    <ion-card-header>
      <ion-card-title>Mis Calificaciones</ion-card-title>
    </ion-card-header>
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segmentoSeleccionado">
      <ion-segment-button value="continuas">
        <ion-label>Continuas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="generales">
        <ion-label>Generales</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-card-content>
      @if (segmentoSeleccionado === 'continuas') {
        <ion-list>
          <ion-list-header>
            <ion-label>Calificaciones Continuas</ion-label>
          </ion-list-header>
          @if(calificacionesContinuas.length > 0){
            @for(cal of calificacionesContinuas; track cal._id){
              <ion-item>
                <ion-label>
                  @if(cal.tarea){
                  <p><strong>Tarea:</strong> {{ cal.tarea.titulo }}</p>
                  } @if(cal.cuestionario){
                  <p><strong>Cuestionario:</strong> {{ cal.cuestionario.nombre }}</p>
                  }
                </ion-label>
                <ion-note slot="end" [color]="(cal.nota ?? 0) < 5 ? 'danger' : 'success'">
                  {{ cal.nota?.toFixed(2) ?? 'Pendiente' }}
                </ion-note>
              </ion-item>
            }
          }
          @else {
            <ion-item>
              <ion-label>No hay calificaciones continuas disponibles.</ion-label>
            </ion-item>
          }
        </ion-list>
      }
      @if (segmentoSeleccionado === 'generales') {
      <ion-list>
        <ion-list-header>
          <ion-label>Calificaciones Generales</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Primer Trimestre</ion-label>
          <ion-note slot="end" [color]="(getNotaPorTipo('Q1') ?? 0) < 5 ? 'danger' : 'success'">
            {{ getNotaPorTipo('Q1') ?? 'Aun no calificado' }}
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Segundo Trimestre</ion-label>
          <ion-note slot="end" [color]="(getNotaPorTipo('Q2') ?? 0) < 5 ? 'danger' : 'success'">
            {{ getNotaPorTipo('Q2') ?? 'Aun no calificado' }}
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Tercer Trimestre</ion-label>
          <ion-note slot="end" [color]="(getNotaPorTipo('Q3') ?? 0) < 5 ? 'danger' : 'success'">
            {{ getNotaPorTipo('Q3') ?? 'Aun no calificado' }}
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Ordinaria</ion-label>
          <ion-note slot="end" [color]="(getNotaPorTipo('Ordinaria') ?? 0) < 5 ? 'danger' : 'success'">
            {{ getNotaPorTipo('Ordinaria') ?? 'Aun no calificado' }}
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Extraordinaria</ion-label>
          @if(getNotaPorTipo('Ordinaria') && getNotaPorTipo('Ordinaria')! >= 5) {
            <ion-note slot="end" color="success">¡Felicidades, no tienes que presentarte a la extraordinaria!</ion-note>
          } @else {
            <ion-note slot="end" [color]="(getNotaPorTipo('Extraordinaria') ?? 0) < 5 ? 'danger' : 'success'">
              {{ getNotaPorTipo('Extraordinaria') ?? 'Aun no calificado' }}
            </ion-note>
          }
        </ion-item>
      </ion-list>
      }
    </ion-card-content>
  </ion-card>
  }
  @else {
    <ion-button expand="block" (click)="presentCalificacionGeneralModal()" class="ion-margin-top">
      <ion-icon slot="start" name="ribbon-outline"></ion-icon>
        Adjuntar Calificación General
    </ion-button>
    <ion-button expand="block" (click)="presentMensajeModal()" class="ion-margin-top">
      <ion-icon slot="start" name="send-outline"></ion-icon>
      Enviar Mensaje a Alumnos
    </ion-button>
    <ion-button expand="block" (click)="presentGestionGrupoModal()" class="ion-margin-top">
      <ion-icon slot="start" name="people-outline"></ion-icon>
      Gestionar Grupo
    </ion-button>
  }
</ion-content>
