<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Seleccionar Alumnos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirmSelection()" [disabled]="!multiple && !selectedAlumno || multiple && selectedAlumnos.length === 0">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterAlumnos()" placeholder="Buscar alumnos"></ion-searchbar>

  <ion-list>
    <ng-container *ngIf="multiple; else singleSelect">
      @if(filteredAlumnos.length === 0){
        <ion-item>
          <ion-label>No se encontraron alumnos.</ion-label>
        </ion-item>
      }
      @for(alumno of filteredAlumnos; track i; let i = $index) {
        <ion-item>
          <ion-checkbox
            slot="start"
            [checked]="isAlumnoSelected(alumno)"
            (ionChange)="toggleAlumnoSelection(alumno)"
          ></ion-checkbox>
          <ion-label>
            <h2>{{ alumno.username }}</h2>
            <p>{{ alumno.email }}</p>
          </ion-label>
        </ion-item>
      }
    </ng-container>
    <ng-template #singleSelect>
      <ion-radio-group [(ngModel)]="selectedAlumno">
        @if(filteredAlumnos.length === 0){
          <ion-item>
            <ion-label>No se encontraron alumnos.</ion-label>
          </ion-item>
        }
        @for(alumno of filteredAlumnos; track i; let i = $index) {
          <ion-item>
            <ion-radio [value]="alumno" slot="start"></ion-radio>
            <ion-label>
              <h2>{{ alumno.username }}</h2>
              <p>{{ alumno.email }}</p>
            </ion-label>
          </ion-item>
        }
      </ion-radio-group>
    </ng-template>
  </ion-list>
</ion-content>
