<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">SolfEdge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if(isLoading){
    <div class="loading-container">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  } @else {
    <app-gestion-alumnos></app-gestion-alumnos>
    <app-gestion-grupos></app-gestion-grupos>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Gestión y Comunicación</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" (click)="presentMensajeModal()" [disabled]="!selectedGrupo" color ="medium">
          <ion-icon slot="start" name="send-outline"></ion-icon>
          Enviar mensaje al grupo
        </ion-button>
        <ion-button expand="block" (click)="presentCalificacionGeneralModal()" class="ion-margin-top" [disabled]="!selectedGrupo" color ="medium">
          <ion-icon slot="start" name="ribbon-outline"></ion-icon>
          Adjuntar calificación general
        </ion-button>
        <ion-button expand="block" (click)="presentGestionGrupoModal()" class="ion-margin-top" [disabled]="!selectedGrupo" color ="medium">
          <ion-icon slot="start" name="people-outline"></ion-icon>
          Gestionar grupo actual
        </ion-button>
        @if(!selectedGrupo){
          <p class="ion-margin-top">Seleccione un grupo para activar las opciones</p>
        }
        @else {
          <p class="ion-margin-top">Utilice estas herramientas para gestionar las notas, enviar mensajes o modificar los detalles del grupo seleccionado.</p>
        }
      </ion-card-content>
    </ion-card>
  }
</ion-content>
