<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">SolfEdge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if(isLoading){
    <div class="loading-container">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  } @else {
    <app-gestion-alumnos></app-gestion-alumnos>
    <app-gestion-grupos></app-gestion-grupos>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Comunicación</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" (click)="presentMensajeModal()">
          <ion-icon slot="start" name="send-outline"></ion-icon>
          Enviar Mensaje a Alumnos
        </ion-button>
        <ion-button expand="block" (click)="navegarAPerfil()" class="ion-margin-top">
          <ion-icon slot="start" name="ribbon-outline"></ion-icon>
          Acceder al perfil y mostrar herramienta de calificaciones generales
        </ion-button>
        <p class="ion-margin-top">Navegue al perfil para poder acceder a la herramienta de calificaciones generales del alumnado y gestionar las notas del grupo actual.</p>
      </ion-card-content>
    </ion-card>
  }
</ion-content>
