<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ritmo" href="/tabs/ritmo">
      <ion-icon aria-hidden="true" name="musical-notes-outline"></ion-icon>
      <ion-label>Ritmo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="entonacion" href="/tabs/entonacion">
      <ion-icon aria-hidden="true" name="analytics-outline"></ion-icon>
      <ion-label>Entonación</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="audicion" href="/tabs/audicion">
      <ion-icon aria-hidden="true" name="ear-outline"></ion-icon>
      <ion-label>Audición</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="teoria" href="/tabs/teoria">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
      <ion-label>Teoría</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
