<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Ritmo" href="/Areas/Ritmo">
      <ion-icon aria-hidden="true" name="musical-notes-sharp"></ion-icon>
      <ion-label>Ritmo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Entonacion" href="/Areas/Entonacion">
      <ion-icon aria-hidden="true" name="trending-up-sharp"></ion-icon>
      <ion-label>Entonación</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Audicion" href="/Areas/Audicion">
      <ion-icon aria-hidden="true" name="ear-sharp"></ion-icon>
      <ion-label>Audición</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Teoria" href="/Areas/Teoria">
      <ion-icon aria-hidden="true" name="book-sharp"></ion-icon>
      <ion-label>Teoría</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Perfil" href="/Areas/Perfil">
      <ion-icon aria-hidden="true" name="person-circle-sharp"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
