<ion-header>
  <ion-toolbar>
    <ion-title>Entregar Tarea</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Respuesta de texto</ion-label>
      <ion-textarea formControlName="respuestaTexto" rows="5"></ion-textarea>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-label>Adjuntar archivo (PDF, MP3)</ion-label>
      <input type="file" (change)="onFileSelected($event)" accept=".pdf,.mp3">
    </ion-item>
    @if(selectedFile){
      <ion-item lines="none">
        <ion-icon name="attach-outline" slot="start"></ion-icon>
        <ion-label>{{ selectedFile.name }}</ion-label>
      </ion-item>
    }
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Entregar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
