<ion-header>
  <ion-toolbar>
    <ion-title>Completar Cuestionario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" *ngIf="cuestionario">
    <ion-card *ngFor="let pregunta of cuestionario.preguntas; let i = index">
      <ion-card-header>
        <ion-card-title>Pregunta {{ i + 1 }}: {{ pregunta.texto }}</ion-card-title>
        <!-- Aquí se podría añadir un reproductor de audio si pregunta.audioMaterial existe -->
      </ion-card-header>
      <ion-card-content>
        <ion-radio-group [formControlName]="i" class="ion-margin-top">
          <ion-item *ngFor="let respuesta of pregunta.posiblesRespuestas">
            <ion-label>{{ respuesta }}</ion-label>
            <ion-radio [value]="respuesta"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-card-content>
    </ion-card>
  </form>
  <div *ngIf="!cuestionario">
    <p>Cargando cuestionario...</p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Enviar Cuestionario</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
