<ion-header>
  <ion-toolbar>
    <ion-title>{{ tarea ? 'Editar' : 'Nueva' }} Tarea</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="confirm()">
    <ion-list lines="none">
      <ion-item class="custom-input">
        <ion-label position="stacked">Título</ion-label>
        <ion-input formControlName="titulo" required placeholder="Introduce el título de la tarea"></ion-input>
      </ion-item>

      <ion-item class="custom-input ion-margin-top">
        <ion-label position="stacked">Descripción</ion-label>
        <ion-textarea formControlName="descripcion" rows="4" placeholder="Describe la tarea..."></ion-textarea>
      </ion-item>

      <ion-item class="custom-input ion-margin-top">
        <ion-label position="stacked">Fecha de Cierre</ion-label>
        <ion-input type="date" formControlName="fechaCierre" [min]="minDate"></ion-input>
      </ion-item>

      @if(currentGroup && studentsInSelectedGroups.length > 0){
        <ion-item class="custom-input ion-margin-top">
          <ion-label position="stacked">Alumnos del Grupo</ion-label>
          <ion-select
            multiple="true"
            formControlName="selectedStudentsFromGroups"
            [selectedText]="getSelectedStudentsText()"
            (ionChange)="onStudentsFromGroupsChange($event)">

            @for(alumno of studentsInSelectedGroups; track alumno._id) {
              <ion-select-option [value]="alumno._id">
                {{ alumno.username }} - {{ alumno.email }}
              </ion-select-option>
            }
          </ion-select>
        </ion-item>
      }
    </ion-list>

    <div class="file-section ion-margin-top">
      <input type="file" #fileInput (change)="onFileSelected($event)" [accept]="acceptedFileTypes" style="display: none;">
      <ion-button expand="block" (click)="fileInput.click()" color="medium" fill="outline">
        <ion-icon slot="start" name="document-attach-outline"></ion-icon>
        {{ (selectedFile || (tarea && tarea.materialDeApoyo)) ? 'Sustituir Archivo' : 'Subir Archivo (' + (rama === 'Entonación' ? 'PDF/MP3' : 'PDF') + ')' }}
      </ion-button>
      <div class="file-status ion-padding-top ion-text-center">
        @if(selectedFile) {
          <span class="file-selected">Archivo Seleccionado: {{ selectedFile.name }}</span>
        } @else if (tarea && tarea.materialDeApoyo) {
          <span class="file-selected">La tarea ya tiene archivo</span>
        } @else {
          <span class="no-file">Ningún archivo seleccionado</span>
        }
      </div>
    </div>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">{{ tarea ? 'Guardar' : 'Crear' }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
