<ion-header>
  <ion-toolbar>
    <ion-title>{{ tarea ? 'Editar' : 'Nueva' }} Tarea</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="confirm()">
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input formControlName="titulo" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea formControlName="descripcion"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha de Cierre</ion-label>
      <ion-input type="date" formControlName="fechaCierre" [min]="minDate"></ion-input>
    </ion-item>
    @if(currentGroup && studentsInSelectedGroups.length > 0){
      <ion-item>
        <ion-select label="Alumnos del Grupo" multiple="true" formControlName="selectedStudentsFromGroups" (ionChange)="onStudentsFromGroupsChange($event)">
          @for(alumno of studentsInSelectedGroups; ; track i; let i = $index) {
            <ion-select-option [value]="alumno._id">{{ alumno.username }}</ion-select-option>
          }

        </ion-select>
      </ion-item>
    }
    <ion-item>
      <ion-input type="file" (change)="onFileSelected($event)" accept="application/pdf"></ion-input>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">{{ tarea ? 'Guardar' : 'Crear' }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
