<ion-header>
  <ion-toolbar>
    <ion-title>{{ tarea ? 'Editar' : 'Nueva' }} Tarea</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="confirm()">
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input formControlName="titulo" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea formControlName="descripcion"></ion-textarea>
    </ion-item>

    <ion-item *ngIf="currentGroup && studentsInSelectedGroups.length > 0">
      <ion-select label="Alumnos del Grupo" multiple="true" formControlName="selectedStudentsFromGroups" (ionChange)="onStudentsFromGroupsChange($event)">
        <ion-select-option *ngFor="let alumno of studentsInSelectedGroups" [value]="alumno._id">{{ alumno.username }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input type="file" (change)="onFileSelected($event)"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" class="ion-margin-top">Guardar Tarea</ion-button>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">{{ tarea ? 'Guardar' : 'Crear' }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
