<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">SolfEdge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if(isLoading){
    <div class="loading-container">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  } @else {
    @if(!selectedGrupo){
      <div>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Selecciona un grupo</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Por favor, selecciona un grupo en el menú para ver el contenido de esta rama.</p>
          </ion-card-content>
        </ion-card>
      </div>
    }
    @else{
      <div>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Libro del Curso</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div>
              @if(isProfessor){
                  @if(hasLibroDeApoyo){
                    @if(!isMobile){
                      <iframe [src]="pdfUrl" width="100%" height="500px"></iframe>
                    }
                    @else {
                      <ion-button expand="block" (click)="openPdf()">
                        Abrir PDF
                      </ion-button>
                    }
                    <ion-button expand="block" color="danger" (click)="eliminarLibro()">Eliminar Libro</ion-button>
                  }
                  @else{
                    <p>No hay ningún libro de apoyo cargado.</p>
                  }
                  <ion-button expand="block" (click)="fileInput.click()" class="ion-margin-top">
                    <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
                    Subir o Reemplazar Libro (PDF)
                  </ion-button>
                  <input type="file" #fileInput (change)="onFileSelected($event)" accept=".pdf" hidden>
              }
              @else{
                @if(hasLibroDeApoyo){
                  @if(!isMobile){
                    <iframe [src]="pdfUrl" width="100%" height="500px"></iframe>
                  }
                  @else {
                    <ion-button expand="block" (click)="openPdf()">
                      Abrir PDF
                    </ion-button>
                  }
                }
                @else{
                  <p>No hay ningún libro de apoyo cargado.</p>
                }
              }
            </div>
          </ion-card-content>
        </ion-card>

        <!-- Toggle para Tareas/Cuestionarios -->
        @if(isTeoria){
        <ion-item>
          <ion-toggle [(ngModel)]="useCuestionarios" justify="space-between">Usar Cuestionarios</ion-toggle>
        </ion-item>
        }
        <!-- Sección de Tareas -->
        @if(!useCuestionarios){
          <ion-card>
            <ion-card-header>
              <ion-card-title>Tareas</ion-card-title>
            </ion-card-header>
            @if(isProfessor){
              <ion-fab vertical="top" horizontal="end">
                <ion-fab-button (click)="presentTareaModal()">
                  <ion-icon name="add"></ion-icon>
                </ion-fab-button>
              </ion-fab>
            }
            <ion-card-content>
              @if(tareas.length > 0){
                <ion-list>
                  @for(tarea of tareas; track i; let i = $index) {
                    <ion-item (click)="navigateToTask(tarea._id)" [detail]="true">
                      <ion-label>
                        <h2>{{ tarea.titulo }}</h2>
                        <p>{{ tarea.descripcion }}</p>
                      </ion-label>
                      <div slot="end" (click)="$event.stopPropagation()">
                        @if(!isProfessor && !isTareaClosed(tarea)){
                          <ion-button fill="clear" (click)="presentEntregarTareaModal(tarea._id)">
                            <ion-icon name="document-text-outline"></ion-icon>
                          </ion-button>
                        }
                        @if(isProfessor) {
                          <div class="professor-actions desktop-only">
                            <ion-button fill="clear" (click)="presentTareaModal(tarea)">
                              <ion-icon name="create-outline" color="dark"></ion-icon>
                            </ion-button>

                            @if(!isTareaClosed(tarea)){
                              <ion-button fill="clear" (click)="closeTarea(tarea._id)">
                                <ion-icon name="close-circle-outline" color="warning"></ion-icon>
                              </ion-button>
                            }

                            <ion-button fill="clear" (click)="deleteTarea(tarea._id)">
                              <ion-icon name="trash-outline" color="danger"></ion-icon>
                            </ion-button>
                          </div>
                          <div class="professor-actions mobile-only">
                            <ion-button fill="clear" (click)="openProfessorMenu(tarea)">
                              <ion-icon name="ellipsis-vertical"></ion-icon>
                            </ion-button>
                          </div>

                        }
                      </div>
                    </ion-item>
                  }

                </ion-list>
              }
              @else{
                <p>No hay tareas para esta rama.</p>
              }
            </ion-card-content>
          </ion-card>
        }



        <!-- Sección de Cuestionarios -->
        @if(useCuestionarios){
          <ion-card>
            <ion-card-header>
              <ion-card-title>Cuestionarios</ion-card-title>
            </ion-card-header>
            @if(isProfessor && isTeoria){
              <ion-fab vertical="top" horizontal="end">
                <ion-fab-button (click)="presentCuestionarioModal()">
                  <ion-icon name="add"></ion-icon>
                </ion-fab-button>
              </ion-fab>
            }
            <ion-card-content>
              @if(cuestionarios.length > 0){
                <ion-list>
                  @for(cuestionario of cuestionarios; track i; let i = $index) {
                    <ion-item>
                      <ion-label>
                        <h2>{{ cuestionario.nombre }}</h2>
                        <p>Preguntas: {{ cuestionario.preguntas.length }}</p>
                      </ion-label>
                      @if(!isProfessor && !isCuestionarioClosed(cuestionario)){
                        <ion-button fill="clear" slot="end" (click)="presentCompletarCuestionarioModal(cuestionario._id)">
                          <ion-icon name="checkmark-circle-outline"></ion-icon>
                        </ion-button>
                      }
                      @if(isProfessor) {
                        <div class="professor-actions desktop-only" slot="end">
                          <ion-button fill="clear" (click)="presentCuestionarioModal(cuestionario)">
                            <ion-icon name="create-outline" color="dark"></ion-icon>
                          </ion-button>

                          @if(!isCuestionarioClosed(cuestionario)){
                            <ion-button fill="clear" (click)="closeCuestionario(cuestionario._id)">
                              <ion-icon name="close-circle-outline" color="warning"></ion-icon>
                            </ion-button>
                          }

                          <ion-button fill="clear" (click)="deleteCuestionario(cuestionario._id)">
                            <ion-icon name="trash-outline" color="danger"></ion-icon>
                          </ion-button>
                        </div>
                        <div class="professor-actions mobile-only" slot="end">
                          <ion-button fill="clear" (click)="openCuestionarioMenu(cuestionario)">
                            <ion-icon name="ellipsis-vertical"></ion-icon>
                          </ion-button>
                        </div>

                      }
                    </ion-item>
                  }
                </ion-list>
              }
              @else{
                <p>No hay cuestionarios para esta rama.</p>
              }
            </ion-card-content>
          </ion-card>
        }





      </div>
    }
  }
</ion-content>
